<br />
<h1>Quiz</h1>

<mat-card>
  <mat-card-content>
    {{ this.question }}
  </mat-card-content>
  <mat-checkbox type="checkbox" [(ngModel)]="this.pickedTrue">
    True
  </mat-checkbox>
  <mat-checkbox type="checkbox" [(ngModel)]="this.pickedFalse">
    False
  </mat-checkbox>
  <button
    mat-raised-button
    class="skip"
    type="button"
    id="check"
    color="primary"
    (click)="this.newRandomQuestion()"
    [disabled]="this.answeredCorrectly || this.answeredIncorrectly"
  >
    Skip
  </button>
</mat-card>
<button
  mat-raised-button
  type="button"
  id="check"
  color="primary"
  class="check"
  (click)="this.checkAnswer()"
  [disabled]="(this.answeredCorrectly || this.answeredIncorrectly)|| this.pickedTrue === false && this.pickedFalse === false"
>
  <mat-icon>done</mat-icon>
</button>

<button [disabled]="!this.answeredCorrectly && !this.answeredIncorrectly" type="button" id="next" color="primary" (click)="this.newRandomQuestion()" mat-raised-button>Next</button>


<p [hidden]="!this.answeredCorrectly">Your answer was correct :) </p>
<p [hidden]="!this.answeredIncorrectly">Your answer was wrong :( </p>

<br>
<br>

<h1>Statisics</h1>
<mat-card>
  <mat-card-content>
    <label>
      Answered Correctly:
      {{this.amountOfQuestionsAnsweredCorrectly}}
    </label>
    <br>
    <br>
    <label>
      Answered Incorrectly:
      {{this.amountOfQuestionsAnsweredIncorrectly}}
    </label>
    <button mat-flat-button color="primary" (click)="this.resetScore()" class="reset">Reset score</button>
  </mat-card-content>
</mat-card>


