<br />
<h1>New Questions</h1>
<p>
  <mat-form-field>
    <mat-label>
      Filter
    </mat-label>
    <input matInput   type="text"
    class="filter"
    id="containsFilter"
    name="containsFilter"
    [(ngModel)]="this.questions.filterInput">
  </mat-form-field>
</p>

<button mat-raised-button class="filter" color="primary">Filter</button>
<br />
<br />

<table>
  <tbody>
    <tr *ngFor="let question of this.questions.getQuestions()">
      <mat-card>
        <mat-card-content>
          <p>
            <mat-form-field appearance="legacy">
              <mat-label> Question </mat-label>
              <input
                matInput
                type="text"
                id="question"
                name="question"
                [(ngModel)]="this.question.q"
              />
            </mat-form-field>
          </p>

          <button
            mat-raised-button
            type="button"
            id="delete"
            color="primary"
            mat-mini-fab
            (click)="this.questions.deleteQuestion(this.question)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-content>
        <mat-card-content>
           <mat-checkbox
            type="checkbox"
            [(ngModel)]="this.question.isTrue"
            (click)="this.questions.changeValidity(this.question)"
          >
            true
          </mat-checkbox>
          <mat-checkbox
            type="checkbox"
            [(ngModel)]="this.question.isFalse"
            (click)="this.questions.changeValidity(this.question)"
          >
            false
          </mat-checkbox>
        </mat-card-content>
      </mat-card>
      <br />
    </tr>
  </tbody>
  <button
    mat-raised-button
    type="button"
    id="delete"
    color="primary"
    (click)="this.questions.addQuestion()"
  >
    <mat-icon>add</mat-icon>
  </button>
</table>



